.accordion {
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 32px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    cursor: pointer;

    &--active {
      background-color: hsl(0, 0%, 90%);

      & .accordion__title {
        color: $btn-primary-bg;
      }

      & svg {
        transform: rotate(-180deg);

        & path {
          fill: $btn-primary-bg;
        }
      }
    }

    & svg {
      margin-left: auto;
      transition: transform 0.3s;
    }
  }

  &__content-wrapper {
    max-height: 0px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    opacity: 0;
    transition: opacity 0.5s, max-height 0.6s;

    &--active {
      overflow: visible;
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    display: block;
    margin: 0;
    margin-left: 20px;
    padding: 32px;
    padding-left: 28px;

    &::before {
      @include before-after;

      top: 20%;
      left: 0;
      width: 2px;
      height: 60%;
      background-color: $btn-primary-bg;
    }

    &::first-letter {
      font-size: 30px;
      color: tomato;
    }
  }
}

@media (min-width: $tablet-width) {
  .accordion {
    max-width: 80%;
  }
}
