.accordion {
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 32px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 8px;
    cursor: pointer;

    &--active {
      background-color: hsl(0, 0%, 90%);

      & .accordion__title {
        color: $btn-primary-bg;
      }

      & svg {
        transform: rotate(-180deg);
      }
    }

    & svg {
      margin-left: auto;
      transition: transform 0.3s;
    }
  }

  &__content-wrapper {
    max-height: 0px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 17%, 85%);
    border-top: none;
    border-radius: 0 0 8px 8px;
    opacity: 0;
    transition: opacity 0.5s, max-height 0.6s, padding 0.1s;

    &--active {
      max-height: max-content;
      overflow: visible;
      opacity: 1;
      border-bottom: none;
    }
  }

  &__content {
    display: block;
    margin: 0;
    padding: 32px;

    &::first-letter {
      font-size: 30px;
      color: tomato;
    }
  }
}

@media (min-width: $tablet-width) {
  .accordion {
    max-width: 80%;
  }
}
