.btn {
  display: inline-block;
  padding: 16px 32px;

  color: $btn-color;
  font: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  border: 1px solid $btn-border-color;
  border-radius: 8px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $btn-color-hover;

    background-color: $btn-bg-color-hover;
  }

  &:disabled {
    background-color: $btn-disabled;
    cursor: default;
    opacity: 0.5;
  }
}

.btn__primary {
  color: $btn-primary-color;

  background-color: $btn-primary-bg;

  &:hover,
  &:focus,
  &:active {
    background-color: $btn-primary-bg-hover;
  }
}

// temp props
.btn {
  &__success {
    color: #fff;
    background-color: $success;
    border-color: $success;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($success, 10%);
    }
  }
  &__danger {
    color: #fff;
    background-color: $danger;
    border-color: $danger;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($danger, 10%);
    }
  }
  &__warning {
    color: #fff;
    background-color: $warning;
    border-color: $warning;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($warning, 10%);
    }
  }
  &__dark {
    color: #fff;
    background-color: $dark;
    border-color: $dark;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($dark, 10%);
    }
  }
  &__block {
    display: block;
    width: 100%;
  }
}
